@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
nav{
    font-family: 'Comfortaa', cursive;
    position: relative;
    display:flex;
    padding: 1.5rem; 
    justify-content: space-between; 
    align-items:center;
    background-color: rgb(23, 21, 39);
    color:white ;
}

@media  screen and (max-width: 600px){
    .logo{
      display: none;
    }
    nav{

      flex-direction: column;      
      justify-content: center;
      align-items: center;
    }
    .nav-item{
      flex-direction: column;      
    }
    .nav-submit{
      display: none;
    }
}

/* for ipad  */
@media only screen and (max-width: 768px) {
  .logo{display: none;}
}